<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Liver Disease Detection Website</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename = 'style.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>Liver Disease Detection</h1>
      <div class="nav">
        <ul>
          <li><a href="https://diseasediagnosis3067.herokuapp.com/">Home</a></li>
          <li>
            <a href="https://diseasediagnosis3067.herokuapp.com/heart">Heart Disease Prediction</a>
          </li>
          <li>
            <a href="https://diseasediagnosis3067.herokuapp.com/liver">Liver Disease Prediction</a>
          </li>
        </ul>
      </div>
    </header>
    <form
      action="https://diseasediagnosis3067.herokuapp.com/liver"
      method="POST"
      enctype="multiport/form-data"
    >
      <div class="formclass">
        <label>Age :</label>
        <input type="text" name="age" /><br />
        <label>Sex(1:Male,2:Female) :</label>
        <input type="text" name="sex" /><br />
        <label>Total_Bilirubin :</label>
        <input type="text" name="chest" /><br />
        <label>Direct_Bilirubin :</label>
        <input type="text" name="trestbps" /><br />
        <label>Alkaline_Phosphotase :</label>
        <input type="text" name="chol" /><br />
        <label>Alamine_Aminotransferase :</label>
        <input type="text" name="fbs" /><br />

        <label>Aspartate_Aminotransferase :</label>
        <input type="text" name="restecg" /><br />
        <label>Total_Proteins :</label>
        <input type="text" name="thalach" /><br />
        <label>Albumin :</label>
        <input type="text" name="exang" /><br />
        <label>Albumin_and_Globulin_Ratio :</label>
        <input type="text" name="oldpeak" /><br />

        <input type="submit" />
      </div>
    </form>
    <section class="footer">
      <p>Copy right @ Divvela Vishnu Sai Kumar, Ritik Chaurasia</p>
      <div class="icons">
        <a href="https://facebook.com/">Facebook</a>
        <a href="https://twitter.com/">Twitter</a>
        <a href="https://www.linkedin.com/">Linked In</a>
      </div>
    </section>
  </body>
</html>
